{ box-sizing: border-box; }

@font-face {
    font-family: GraublauWeb;
    src: url("/home/el_masa/Documents/fonts/Anurati-Regular.otf/") format("Anurati-Regular");
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
}

/*Navbar Styles*/
.w3-navbar { color: #fff; }
.w3-navbar.w3-animate-top { color: #444; }
.w3-navbar li a:hover { background-color: rgba(0,0,0,0.2); color: #fff; }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
   background-image: url('altiplanica.jpg');
}




.box{
  opacity: 0.4;
  background-color: black;

}

.text {  
  text-align: center;
  margin: 2px 25px;
  font-style: Anurati-Regular;
  font-family: Anurati-Regular;
  opacity: 1; 
  -webkit-text-fill-color: ;
  color: white;
  font-size: 3vw;
  font-weight: 200;


}


/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('altiplanica.jpg');
    min-height: 100%;
    opacity: 0.8;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("Saturn_eclipse.jpg");
    min-height: 400px;
    opacity: 0.9; 
}

/* Cuarta Imagen (Blog) */
.bgimg-4 {
    background-image: url("Spa_night.jpg");
    min-height: 400px;
    opacity: 0.9; 
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("alma.jpg");
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}






.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* About Section */
#about {
  font-size: 1.4em;
}

.social-footer {
  height: 30px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 40px;
}



/* Clearfix Hack */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Social Media Icons */
.w3-half > a {
  text-decoration: none;
}

i.fa {
  padding-top: .2em;
  padding-left: .5em;
  padding-right: .5em;
  taransition: color 1s;
}

.fa-linkedin:hover {
  color: #0077B5;
}

.fa-facebook:hover {
  color: #04a;
}

.fa-instagram:hover {
  color: #cd486b;
}

.fa-github:hover {
  color: #6e5494;
}